BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
//FREQUENCY NET "clk_in" 12.000000 MHz ;
FREQUENCY NET "clk_i_c" 12.000000 MHz ;
FREQUENCY NET "eclki" 200.000000 MHz ;
FREQUENCY NET "mipi_rx_ddr_inst_0/eclko" 200.000000 MHz ;
BANK 4 VCCIO 1.2 V;
IOBUF PORT "mipi_clk_in" IO_TYPE=MIPI ;
LOCATE COMP "mipi_clk_in" SITE "T9" ;
LOCATE COMP "mipi_data_in[0]" SITE "M8" ;
IOBUF PORT "mipi_data_in[0]" IO_TYPE=MIPI ;
LOCATE COMP "data_out[0]" SITE "K13" ;
LOCATE COMP "data_out[1]" SITE "K12" ;
LOCATE COMP "data_out[2]" SITE "N14" ;
LOCATE COMP "data_out[3]" SITE "M14" ;
LOCATE COMP "data_out[4]" SITE "L14" ;
LOCATE COMP "data_out[5]" SITE "M15" ;
LOCATE COMP "data_out[6]" SITE "L15" ;
LOCATE COMP "data_out[7]" SITE "K14" ;
LOCATE COMP "data_out[8]" SITE "K15" ;
LOCATE COMP "data_out[9]" SITE "H15" ;
LOCATE COMP "data_out[10]" SITE "G15" ;
LOCATE COMP "data_out[11]" SITE "F15" ;
LOCATE COMP "data_out[12]" SITE "E15" ;
LOCATE COMP "data_out[13]" SITE "E14" ;
LOCATE COMP "data_out[14]" SITE "C15" ;
LOCATE COMP "data_out[15]" SITE "F14" ;
LOCATE COMP "data_out[16]" SITE "C7" ;
LOCATE COMP "data_out[17]" SITE "D7" ;
LOCATE COMP "data_out[18]" SITE "D6" ;
LOCATE COMP "data_out[19]" SITE "C5" ;
LOCATE COMP "data_out[20]" SITE "C4" ;
LOCATE COMP "data_out[21]" SITE "E6" ;
LOCATE COMP "data_out[22]" SITE "F7" ;
LOCATE COMP "data_out[23]" SITE "A10" ;
LOCATE COMP "data_out[24]" SITE "B9" ;
LOCATE COMP "data_out[25]" SITE "D9" ;
LOCATE COMP "data_out[26]" SITE "B6" ;
LOCATE COMP "data_out[27]" SITE "B7" ;
LOCATE COMP "data_out[28]" SITE "A5" ;
LOCATE COMP "data_out[29]" SITE "B4" ;
LOCATE COMP "data_out[30]" SITE "A4" ;
LOCATE COMP "data_out[31]" SITE "A3" ;
LOCATE COMP "fsyn_out" SITE "N16" ;
LOCATE COMP "lsync_out" SITE "M16" ;
LOCATE COMP "mipi_clk_lpn_io" SITE "G1" ;
LOCATE COMP "mipi_clk_lpp_io" SITE "H1" ;
LOCATE COMP "mipi_data_lpn_io[0]" SITE "J3" ;
LOCATE COMP "mipi_data_lpn_io[1]" SITE "J2" ;
LOCATE COMP "mipi_data_lpn_io[2]" SITE "K1" ;
LOCATE COMP "mipi_data_lpn_io[3]" SITE "G2" ;
LOCATE COMP "mipi_data_lpp_io[0]" SITE "H2" ;
LOCATE COMP "mipi_data_lpp_io[1]" SITE "H3" ;
LOCATE COMP "mipi_data_lpp_io[2]" SITE "J1" ;
LOCATE COMP "mipi_data_lpp_io[3]" SITE "F2" ;
IOBUF PORT "mipi_clk_lpn_io" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_clk_lpp_io" IO_TYPE=LVCMOS12 PULLMODE=DOWN ;
IOBUF PORT "mipi_data_lpn_io[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpn_io[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpn_io[2]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpn_io[3]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpp_io[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpp_io[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpp_io[2]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "mipi_data_lpp_io[3]" IO_TYPE=LVCMOS12 ;
LOCATE COMP "mipi_data_in[1]" SITE "R9" ;
IOBUF PORT "mipi_data_in[1]" IO_TYPE=MIPI ;
LOCATE COMP "mipi_data_in[2]" SITE "P10" ;
IOBUF PORT "mipi_data_in[2]" IO_TYPE=MIPI ;
LOCATE COMP "mipi_data_in[3]" SITE "P8" ;
IOBUF PORT "mipi_data_in[3]" IO_TYPE=MIPI ;
LOCATE COMP "reset_in" SITE "B3" ;
LOCATE COMP "clk_i" SITE "C8" ;
LOCATE COMP "debug_b8[7]" SITE "C2" ;
LOCATE COMP "debug_b8[0]" SITE "F5" ;
LOCATE COMP "debug_b8[1]" SITE "E3" ;
LOCATE COMP "debug_b8[2]" SITE "F3" ;
LOCATE COMP "debug_b8[3]" SITE "B1" ;
LOCATE COMP "debug_b8[4]" SITE "D3" ;
LOCATE COMP "debug_b8[5]" SITE "C1" ;
LOCATE COMP "debug_b8[6]" SITE "G3" ;
IOBUF PORT "debug_b8[7]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[6]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[5]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[4]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[3]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[2]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "debug_b8[0]" IO_TYPE=LVCMOS12 ;
LOCATE COMP "pclk_out" SITE "H14" ;
